.container{
    margin-bottom: 100px;
}
.carousel-item{
    padding: 20px 10px;
}
.buy-now-button{
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
#slider{
    background-image: url(images/bg-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px;
}
#slider .col-md-7 p{
    color: gray;
}
.btn{
    text-decoration: none;
    color: coral;  
}
.more-but, button{
    text-align: right;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 10px;
}
.card img{
    padding: 60px;
}
.card h5{
    text-align: center;
}
.card p{
    text-align: center;
    color: gray;
}
.card h4{
    text-align: center;
    font-size: 35px;
}
.card a{
    text-align: end;
    padding-bottom: 20px;
    text-decoration: none;
    color: orange;
    font-size: 17px;
}
.end h2{
    text-align: center;
}
.end .hend img{
    height: 400px;
}
.row .cat img{
    width: 147px;
}
.hello{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 10px;
}
footer{
    font-size: 14px;
    text-align: center;
}